<mat-card class="mt20">
  <h1 class="text-center mt20">Update Category</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <form *ngIf="categories" >
          <mat-form-field class="w100" appearance="outline">
            <mat-label>Enter Title</mat-label>
            <input
              type="text"
              name="title"
              [(ngModel)]="categories.title"
              required
              matInput
              placeholder="Enter Title"
            />
          </mat-form-field>
          <mat-form-field class="w100" appearance="outline">
            <mat-label>Enter Description</mat-label>
            <textarea
              type="text"
              name="description"
              required
              [(ngModel)]="categories.description"
              rows="4"
              matInput
              placeholder="Enter Description"
            ></textarea>
          </mat-form-field>
          <div class="container text-center mt20 mb20">
            <button mat-raised-button color="accent" (click)="updateData()">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
