<mat-card *ngIf="login.getUser()">
    <h1 style="margin-left: 12px">Your Profile Details</h1>
  
    <mat-card-content>
     {{login.getUser()|json}}
        <div class="container">
          <div class="container text-center">
            <img
              src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg"
              alt=""
              class="profile-image"
            />
          <h2> {{login.getUser().firstName}} {{ login.getUser().lastName}}</h2>
          </div>
          <table class="table text-center">
            <tr>
              <td>Username</td>
              <td> {{login.getUser().username}}</td>
            </tr>
            <tr>
              <td>Userid</td>
              <td> {{login.getUser().id}}</td>
            </tr>
            <tr *ngIf="login.getUser().phone">
              <td>Phone</td>
              <td> {{login.getUser().phone}}</td>
            </tr>
            <tr>
              <td>Role</td>
              <td> {{login.getUser().authorities[0].authority }}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td> {{login.getUser().enabled ? "ACTIVE" : "NOTACTIVE"}}</td>
            </tr>
          </table>

</div>
</mat-card-content>

<mat-card-actions class="text-center">
  <button mat-raised-button color="primary">UPDATE</button>
  <button mat-raised-button color="accent">SHARE</button>
</mat-card-actions>
</mat-card>