.trun{
display:block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.example-header-image {
  background-image: url("/assets/te.png");
  background-size: cover;
}
