/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: #FCE4EC;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
.w100{
  width: 100%;
}
.mr20
{
  margin-right: 25px !important;
}

.mr30
{
  margin-right: 30px !important;
}
.mr80
{
  margin-right: 90px !important;
}

.mr40
{
  margin-right: 40px !important;
}

.ml20{
  margin-left: 20px !important;
}

.mt20
{
  margin-top: 20px !important;
}

.mb20{
  margin-bottom: 20px !important;
}